* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(240, 239, 243);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    ;
}

.container {
    width: 385px;
    height: 570px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 4px 10px 45px #150c0c85;
    padding: 20px;
    overflow-y: scroll;
}

.container form {
    width: 100%;
    border: 1px solid rgb(82, 74, 235);
    border-radius: 4px;
    flex-direction: row;
    align-items: center;
}

.container::-webkit-scrollbar {
    display: none
}

.container form input {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 10px;
}

.product {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 24px;
}

.product img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 22px;
}

.product-list {
    padding: 20px 0;
}

.product .p-details {
    padding-left: 15px;
}

.product .p-details h2 {
    font-size: 20px;
    color: #1d1d1d;
}

.product .p-details h3 {
    font-size: 18px;
}